<ion-content scrollY="false">
    <h1><strong>Thank you!</strong></h1>
    <br />
    <h4>Thanks for submitting your email address. We will use that
    email address to send you the private beta invitation when it
    starts. It will have the subject: "Tracktunes Private Beta
    Invitation".
    </h4>
    <br />
    <p>
        We will only send one email to the address you've provided.
        If you sign up using the private-beta invitation link we send
        you, we will ask you to pick an email address again, to
        associate with your new account.
    </p>
</ion-content>
