$max-width: 380px;
$bg-color: #111536;

ion-content {
    background-color: $bg-color;
    --background: $bg-color;
    h1, h2 {
        color: var(--ion-color-light);
    }
    p {
        color: var(--ion-color-medium);
        max-width: $max-width;
        margin: 0 auto;
    }
    ion-img {
        height: 80px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    ion-input {
        --background: #dbdbdb;
        color: black;
        max-width: $max-width;
        margin: 0 auto;
        margin-top: 18px;
        line-height: 2.2em;
    }
    ion-button.sign-up {
        height: 2.8em;
        font-weight: 900;
        font-size: 1.2em;
        --border-radius: 0;
        display: block;
        max-width: $max-width;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    ion-button.learn-more {
        margin-bottom: 14px;
    }
}
