@import "../../../global.scss";

$margin: 14px;
$maxWidth: 380px;

ion-content {
    --background: black;
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 26px;
    }
    h1, h2 {
        color: var(--ion-color-light);
        max-width: $maxWidth;
        margin: 0 auto;
        margin-top: $margin;
        margin-bottom: $margin;
    }
    p {
        font-size: 22px;
        color: var(--ion-color-medium);
        max-width: $maxWidth;
        margin: 0 auto;
    }
    ion-img {
        height: 80px;
        margin-top: $margin;
        margin-bottom: $margin;
    }
    ion-input {
        --background: #dbdbdb;
        color: black;
        max-width: $maxWidth;
        line-height: 2.2em;
        margin: 0 auto;
        margin-top: $margin;
        margin-bottom: $margin;
    }
    ion-button.sign-up {
        text-transform: none;
        height: 2.9em;
        font-weight: 900;
        font-size: 1.2em;
        --border-radius: 30px;
        display: block;
        max-width: $maxWidth;
        margin: 0 auto;
        margin-bottom: $margin;
    }
    ion-button.learn-more {
        margin-bottom: $margin;
    }
}
