.background-image {
    --background: url(../../../assets/image/tracktunes-logo.png)
                     no-repeat center;
}

h1 {
    font-weight: 900;
}

ion-button {
    font-weight: 900;
    font-size: 1.2em;
}

@media (max-width: 576px) {
    ion-toolbar.sign-up {
        margin-top: 178px;
    }
}


@media (min-width: 576px) {
    ion-toolbar.sign-up {
        margin-top: 78px;
    }
}
