<ion-content [fullscreen]="true"
             class="background ion-padding ion-text-center">
    <h1><strong>The Tracktunes App</strong></h1>
    <p>A browser app for multi-track recording collaborations</p>
    <h2>Make music with other musicians worldwide</h2>
    <ion-img src="assets/image/tracktunes-logo.png"></ion-img>
    <ion-input [(ngModel)]="email" type="email" placeholder="Email Address">
    </ion-input>
    <ion-button class="sign-up" color="warning" (click)="onClickSignUp()">
        Sign Up for Early Access
    </ion-button>
    <ion-button class="learn-more" color="warning" size="small"
                fill="outline" (click)="onClickLearnMore()">
        Terms / Learn More
    </ion-button>
    <p *ngIf="bShowLearnMore">
        Tracktunes' vision is a world where talented musicians can
        make a living from their music. Its mission is to create tools
        musicians and fans that ease collaboration, sharing and
        compensation.
        <br>
        <br>
        Sign up for early access to our music collaboration app. To
        thank you for your early participation, you'll receive extra
        free cloud storage for your music.
        <br>
        <br>
        We do not disclose your email address to anyone. We'll only
        send you one email at this address inviting you to try our
        app. Thank you for your interest!
    </p>
</ion-content>
