<ion-content [fullscreen]="true" scrollY="false"
             class="background ion-padding ion-text-center">
    <h1><strong>Tracktunes</strong></h1>
    <h2>Create music with others worldwide</h2>
    <p>
        Browser app for multi-track recording collaborations
    </p>
    <ion-img src="assets/image/tracktunes-logo.png"></ion-img>
    <ion-input type="email" placeholder="Email Address">
    </ion-input>
    <ion-button class="sign-up" color="warning" (click)="onClickSignUp()">
        Sign Up for Early Access
    </ion-button>
    <ion-button color="warning" href="learn-more" size="small" fill="outline">
        Learn More
    </ion-button>
</ion-content>
