<ion-content [fullscreen]="true" scrollY="false"
             class="background-image ion-padding">
    <ion-grid fixed class="ion-text-center ion-padding">
        <h1>
            Tracktunes
        </h1>
        <h2>Create and share music with others worldwide</h2>
        <ion-button class="sign-up" color="success">
            Early Access Sign-Up
        </ion-button>
        <ion-button class="learn-more" color="success" fill="outline">
            Learn More
        </ion-button>
    </ion-grid>
</ion-content>
